* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.header {
  display: flex;
  position: relative;
  margin-top: 1.7rem;
  align-items: center;
}

.arrows {
  position: absolute;
  margin-left: 640px;
}

.month-year {
  margin-left: 40px;
}

.calendar {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
  text-align: center;
}

.today {
  background-color: lightslategrey;
  border-radius: 90%;
}

#prev {
  cursor: pointer;
}

#next {
  cursor: pointer;
}

.date {
  padding-top: 40px;
}

.day {
  padding-top: 70px;
}

.inactive {
  color: grey;
}
