* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 51.0625rem;
  height: 26.5625rem;
  flex-shrink: 0;
  border-radius: 32px;
  background: linear-gradient(113deg, #ad36cb 32.23%, #333 67.37%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(255, 250, 250, 0.25),
    0px 4px 4px 0px rgba(253, 245, 245, 0.25);
  position: relative;
}

.day {
  color: #fff;
  font-size: 2.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2rem;
  margin-top: 1rem;

  /* layout */
  width: 11rem;
  height: 2.375rem;
  flex-shrink: 0;
}

.date {
  color: #fff;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 2rem;
  margin-top: 1rem;

  /* layout */
  width: 9.625rem;
  height: 2.25rem;
  flex-shrink: 0;
}

/* location */

.location-container {
  display: inline-flex;
  flex-direction: row;

  margin-left: 2rem;
  margin-top: 2rem;
}

.location-icon {
  color: #fff;
  width: 1.6875rem;
  height: 1.6875rem;
  flex-shrink: 0;
  margin-right: 0.3rem;
}

.location-txt {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -1rem;
}

/* search bar */

.search {
  width: 20rem;
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 0.4rem;
}

.search i {
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  flex-grow: 1;
  /* flex: 1; */
  padding-left: 1rem;
}

.input::placeholder {
  color: #fff;
}

/* temp info */

.temp-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.temp-svg {
  width: 5.9375rem;
  height: 5.9375rem;
  flex-shrink: 0;
}

.temp {
  color: #fff;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
  margin-left: 1rem;
}

.temp-name {
  color: #fff;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
  margin: auto;
  text-align: center;
  /* layout */
  width: 100%;
  height: 1.8125rem;
  flex-shrink: 0;
}

/* weather details */

.weather-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 3.75rem;
}

.weather-details-txt {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.weather-details-num {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* forecast */

.forecast-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: -1.5rem;
}

.forecast {
  width: 7.5625rem;
  height: 7.375rem;
  flex-shrink: 0;

  /* margin: 0 -9rem; */
  border-radius: 25px;
  background: linear-gradient(130deg, #b32dd4 0%, rgba(217, 217, 217, 0) 100%);
  /* background: linear-gradient(113deg, #ad36cb 32.23%, #333 80.37%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(255, 250, 250, 0.25),
    0px 4px 4px 0px rgba(253, 245, 245, 0.25); */
  display: flex;
  flex-direction: column;
}

.forecast-date {
  margin: auto auto;
}
.forecast-icon {
  width: 3.7rem;
  margin-top: -1rem;
}
.forecast-temp {
  margin-left: 1rem;
}
.forecast-temp-icon-container {
  display: flex;
  margin: auto auto;
}
.forecast-weather {
  margin: auto;
  margin-top: -1rem;
}

.weather-spinner {
  display: block;
  margin: auto;
}

.forecast-spinner {
  display: block;
  margin: auto;
}
